@charset "utf-8";
/*produce*/
.m-top {
    margin-top: 3rem;
}
.nav-bottom h1{
    float: left;
    padding: 1.2rem 1.2rem;
}
.nav-bottom ul{
    float: right;
}
/*presentation*/
.presentation span {
    display: inline-block;
    margin: 0 1rem;
    padding: 0 1rem;
    font-size: 2.4rem;
    text-align: center;
    border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    box-shadow: 1px 2px 1px #333 inset;
    background-color: rgba(255, 255, 255, 0.9);
}




.presentation p, .presentation a {
    height: 3rem;

}

/*banner*/
.banner {
    height: 45rem;
}

.banner ul li {
    height: 45rem !important;
}
